<?xml version="1.0"?>

<launch>
    <!-- Displaying the Navigation on Rviz -->
    <include file="$(find roboteq_control)/launch/display_navigation.launch" />
   <!-- Laser scan launch -->
    <include file="$(find hls_lfcd_lds_driver)/launch/hlds_laser.launch" />
    <!-- ROBOTEQ launch -->
    <include file="$(find roboteq_control)/launch/differential_drive.launch" />
    <!-- BNO055 IMU launch -->
     <include file="$(find ros_imu_bno055)/launch/imu.launch" />
     <!-- Tinkerforge IMU launch -->
     <include file="$(find tinkerforge_imu_ros)/launch/bricks_v2.launch" />
     <!-- Localization (merging odometry+IMU) -->    
    <include file="$(find vinebot_localization)/launch/start_ekf_localization.launch" />
    <!-- AMCL & Navigation  -->  
    <include file="$(find vinebot_navigation)/launch/vinebot_navigation.launch" />

</launch>