<?xml version="1.0"?>

<launch>
   <!-- roboteq configuration -->
   <arg name="port"        default="/dev/roboteq" />
   <arg name="rviz"        default="true" />
   
   <!-- Run roboteq_control with motors definition -->
   <include file="$(find roboteq_control)/launch/roboteq.launch">
      <arg name="port"        value="$(arg port)" />
   </include>

    <!-- Differential controller parameters -->
    <rosparam command="load" file="$(find roboteq_control)/config/control.yaml" />
    <!-- Launch and running al controller -->
    <node name="base_controller_spawner" pkg="controller_manager" type="spawner" 
            args="joint_publisher vinebot_controller"/>
            
</launch>
