<?xml version="1.0" ?>
<robot name="vinebot" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<material name="silver">
  <color rgba="0.700 0.700 0.700 1.000"/>
</material>

<material name="blue">
  <color rgba="0.169 0 1.0 1.000"/>
</material>

<material name="black">
  <color rgba="0 0 0 1.000"/>
</material>


</robot>
